<html>
  <head>
    <script async defer src="https://static.cdn.prismic.io/prismic.js?new=true&repo=tcd-project2"></script>
    <title>About Page</title>  
  </head>
  <body>
  <template>
    <div class="page-content">
    <%#= @about_doc %>
    </div>
    </template>
  </body>
</html>
